<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Quiz game</title>
    <!--<div th:replace="fragments/header :: header-css"></div>-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- My own css -->
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
<div  style="padding-top: 50px" align="center">

    <h3>Войдите в свой аккаунт</h3>
</div>
<div class="container" style="width: 45%" >
        <div align="center" >
            <form th:action="@{/login}" method="post">
                <fieldset>

                    <div th:if="${successMessage}" class="alert alert-success"
                         role="alert" th:text="${successMessage}"></div>

                    <div th:if="${param.error}">
                        <div class="alert alert-danger">
                            Invalid username and password.
                        </div>
                    </div>
                    <div th:if="${param.logout}">
                        <div class="alert alert-info">
                            You have been logged out.
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="text" name="j_username" id="j_username" class="form-control input-lg"
                               placeholder="Логин" required="required" autofocus="autofocus"/>
                    </div>
                    <div class="form-group">
                        <input type="password" name="j_password" id="j_password" class="form-control input-lg"
                               placeholder="Пароль" required="required"/>
                    </div>

                    <div class="row">
                        <input type="submit" class="btn btn-lg btn-primary btn-block" style="width: 40%; margin-left: 30%"  value="Войти"/>
                    </div>
                </fieldset>

            </form>
            <!--<div th:align="center">
                <a th:href="@{/forgot}" >Забили пароль?</a>
            </div>-->

        </div>
</div>


<!--<div th:replace="fragments/footer :: footer"></div>-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>