<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz Game | Questions</title>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- My own css -->
    <link rel="stylesheet" href="/css/main.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

</head>
<body>
<ul class="nav nav-tabs ">
    <li class="nav-item">
        <a class="nav-link active" href="/predictions">Предсказания</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/prediction_types">Типы предсказаний</a>
    </li>
    <!--
    <li class="nav-item">
        <a class="nav-link" href="/users">Модераторы</a>
    </li>
    <li class="nav-item">d
        <a class="nav-link" href="/profile">Профиль</a>
    </li>
    -->
    <li style="position: absolute; right: 5px;">
        <a href="/logout" class="btn btn-secondary">Выйти</a>
    </li>
</ul>
<div style="display:flex;flex-direction: row;flex-wrap:wrap;">
    <div style="width: 60%">
        <H1 align="left">Предсказания</H1>
    </div>
    <div align="right" style="width: 40%">
        <button style="margin-top: 10px" class="btn btn-primary"
                data-toggle="modal" data-target="#addPredictionModal">Добавить предсказание
        </button>
    </div>
</div>
<div class="project-box" th:fragment="predictions-table" id="predictions-table"
     style="width: 100%; display: block;max-height: 80%;overflow-y: auto; overflow-x: hidden">
    <!--/*@thymesVar id="user" type="com.vallsoft.horoscope.entity.User"*/-->
    <table class="table table-striped" style="font-size: 14px">
        <thead>
        <tr class="center middle">
            <th scope="col" style="width: 85%">Текст</th>
            <th scope="col" style="width: 10%;">Тип</th>
            <th th:if="${user.isAdmin() or user.isPowerUser()}" style="text-align: center" scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="items" type="List<com.vallsoft.horoscope.entity.Prediction>"*/-->
        <!--/*@thymesVar id="item" type="com.vallsoft.horoscope.entity.Prediction"*/-->
        <tr th:each="item: ${items}">
            <td th:text="${item.getText()}"></td>
            <td th:text="${item.getType().getName()}"></td>

            <td th:if="${user.isAdmin() or user.isPowerUser()}">
                <a href="#" th:onclick="'javascript:viewPrediction(\'' + ${item.getId()} +'\');'"><i
                        class="fa fa-pencil"></i></a>
                <a href="#" th:onclick="'javascript:deletePrediction(\'' + ${item.getId()} +'\');'"
                   style="color: red"><i id="id-remove" class="fa fa-remove"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="addPredictionModal" id="addPredictionModal" class="modal fade" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Новое предсказание</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form autocomplete="off" class="m-t add-prediction" role="form"
                  data-toggle="validator" id="add-prediction">
                <div class="modal-body"
                     style="width: 100%; display: block;max-height: 60%;overflow-y: auto; overflow-x: hidden">
                    <textarea class="form-control" rows="5" id="text"></textarea>
                    <br>
                    <select class="form-control" id="typeSelect">
                        <option value="0" disabled="disabled">Выберите тип</option>
                        <option th:each="type : ${prediction_types}" th:value="${type.getId()}"
                                th:text="${type.getName()}">
                        </option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button id="addPrediction" type="button" class="btn btn-primary">Добавить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div th:fragment="updPredictionModal" id="updPredictionModal" class="modal fade" tabindex="-1" role="dialog"
     aria-hidden="true">
    <div class="modal-dialog" role="document">

        <!--/*@thymesVar id="item" type="com.vallsoft.horoscope.entity.Prediction"*/-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактировать предсказание</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form th:if="${item!=null}" autocomplete="off" class="m-t update-prediction" role="form"
                  data-toggle="validator" id="update-prediction" th:attr="predictionId = ${item.getId()}">
                <div class="modal-body"
                     style="width: 100%; display: block;max-height: 60%;overflow-y: auto; overflow-x: hidden">
                    <textarea class="form-control" rows="5" id="textUPD"
                              th:text="${item.getText()}?${item.getText()}"></textarea>
                    <br>
                    <select class="form-control" id="typeSelectUPD">
                        <option value="0" disabled="disabled">Выберите тип</option>
                        <option th:value="${item.getType()!=null}?${item.getType().getId()}" selected="selected"
                                th:text="${item.getType()!=null}?${item.getType().getName()}"></option>
                        <option th:each="type : ${prediction_types}" th:value="${type.getId()}"
                                th:text="${type.getName()}">
                        </option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button id="updPrediction" type="button" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="/js/predictions.js"></script>
</body>
</html>