<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz Game | Questions</title>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- My own css -->
    <link rel="stylesheet" href="/css/main.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
            integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
            crossorigin="anonymous"></script>

</head>
<body>
<ul class="nav nav-tabs ">
    <li class="nav-item">
        <a class="nav-link" href="/predictions">Предсказания</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/prediction_types">Типы предсказаний</a>
    </li>
    <!--
    <li class="nav-item">
        <a class="nav-link" href="/users">Модераторы</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/profile">Профиль</a>
    </li>
    -->
    <li style="position: absolute; right: 5px;">
        <a href="/logout" class="btn btn-secondary">Выйти</a>
    </li>
</ul>
<div style="display:flex;flex-direction: row;flex-wrap:wrap;">
    <div style="width: 60%">
        <H1 align="left">Типы предсказаний</H1>
    </div>
    <div align="right" style="width: 40%">
        <button style="margin-top: 10px" class="btn btn-primary"
                data-toggle="modal" data-target="#addTypeModal">Добавить тип
        </button>
    </div>
</div>
<div class="project-box" th:fragment="types-table" id="types-table"
     style="width: 100%; display: block;max-height: 80%;overflow-y: auto; overflow-x: hidden">
    <!--/*@thymesVar id="user" type="com.vallsoft.horoscope.entity.User"*/-->
    <table class="table table-striped" style="font-size: 14px">
        <thead>
        <tr class="center middle">
            <th scope="col" style="width: 95%">Название</th>
            <th th:if="${user.isAdmin() or user.isPowerUser()}" style="text-align: center" scope="col">Действия</th>
        </tr>
        </thead>
        <tbody>
        <!--/*@thymesVar id="items" type="List<com.vallsoft.horoscope.entity.PredictionType>"*/-->
        <!--/*@thymesVar id="item" type="com.vallsoft.horoscope.entity.PredictionType"*/-->
        <tr th:each="item: ${items}">
            <td th:text="${item.getName()}"></td>

            <td th:if="${user.isAdmin() or user.isPowerUser()}">
                <a href="#" th:onclick="'javascript:viewType(\'' + ${item.getId()} +'\');'"><i class="fa fa-pencil"></i></a>
                <a href="#" th:onclick="'javascript:deleteType(\'' + ${item.getId()} +'\');'" style="color: red"><i
                        id="id-remove" class="fa fa-remove"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:fragment="addTypeModal" id="addTypeModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Новый тип</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form autocomplete="off" class="m-t add-type" role="form"
                  data-toggle="validator" id="add-type">
                <div class="modal-body"
                     style="width: 100%; display: block;max-height: 60%;overflow-y: auto; overflow-x: hidden">
                    <input class="form-control" placeholder="Название" id="string">
                </div>
                <div class="modal-footer">
                    <button id="addType" type="button" class="btn btn-primary">Добавить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div th:fragment="updTypeModal" id="updTypeModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">

        <!--/*@thymesVar id="item" type="com.vallsoft.horoscope.entity.PredictionType"*/-->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Редактировать тип</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <form th:if="${item!=null}" autocomplete="off" class="m-t update-type" role="form"
                  data-toggle="validator" id="update-type" th:attr="typeId = ${item.getId()}">
                <div class="modal-body"
                     style="width: 100%; display: block;max-height: 60%;overflow-y: auto; overflow-x: hidden">
                    <input class="form-control" placeholder="Название" id="stringUPD"
                           th:value="${item.getName()}?${item.getName()}">
                </div>
                <div class="modal-footer">
                    <button id="updType" type="button" class="btn btn-primary">Сохранить</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="/js/type.js"></script>
</body>
</html>