<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz Game | Settings & profile</title>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- My own css -->
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/css/radio.css"/>

    <!--<link rel="stylesheet" href="/css/mdb.min.css"/>
    <link rel="stylesheet" href="/js/mdb.min.js"/>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>

<!--/*@thymesVar id="user" type="com.vallsoft.rat_hunter.entity.User"*/-->
    <ul class="nav nav-tabs ">
        <li class="nav-item">
            <a class="nav-link" href="/predictions">Предсказания</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/prediction_types">Типы предсказаний</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users">Модераторы</a>
        </li>
        <li class="nav-item">
            <!--class="nav-link disabled"-->
            <a class="nav-link active" href="/profile">Профиль</a>
        </li>
    </ul>
    <!--<h1 style="width: 80%;">Ваш профиль</h1>-->
    <div style="display:flex;flex-direction: row;flex-wrap:wrap;">
        <div style="width: 40%">
            <H1 align="left">Ваш профиль</H1>
        </div>
        <div align="right" style="width: 60%">
            <a href="/logout" style="margin-top: 10px" class="btn btn-secondary">Выйти</a>
        </div>
    </div>
    <h4 th:text="'Логин: '+${user.getUsername()}"></h4>
    <h4 th:if="${user.getEmail()!=null}" th:text="'Email: '+${user.getEmail()}"></h4>
    <h4 th:text="'Полномочия: '+${user.getAllRoles()}"></h4>
    <br>
    <div align="center">

            <h6 align="center"> Суперпользователи (имеют все права администратора, кроме управление суперпользователями)</h6>
            <button th:if="${user.isAdmin()}" href="#" style="margin-bottom: 10px" class="btn btn-primary"
            data-toggle="modal" data-target="#findSuperUsers" onclick="findUsersByUsername()">Добавить суперпользавателя</button>
    </div>

    <div align="center" class="project-box" th:fragment="power-users-table" id="power-users-table">

        <table class="table table-striped" style="width: 70%">
            <thead>
            <tr class="center middle">
                <th scope="col" >Логин</th>
                <th scope="col" >Email</th>
                <th style="width: 10%" th:if="${user.isAdmin()}" align="center" scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="powerUsers" type="List<com.vallsoft.horoscope.entity.User>"*/-->
            <!--/*@thymesVar id="currentUser" type="com.vallsoft.horoscope.entity.User"*/-->
            <tr th:each="currentUser: ${powerUsers}">
                <td th:text="${currentUser.getUsername()}"></td>
                <td th:text="${currentUser.getEmail()}"></td>

                <td align="center" th:if="${user.isAdmin()}">
                    <a href="#" style="color: red"><i id="id-remove" class="fa fa-remove"
                    th:onclick="'javascript:deletePowerUser(\'' + ${currentUser.getId()} +'\');'"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:fragment="findSuperUsers" id="findSuperUsers" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">

            <!--/*@thymesVar id="events" type="List<com.vallsoft.rat_hunter.entity.Event>"*/-->
            <!--/*@thymesVar id="event" type="com.vallsoft.rat_hunter.entity.Event"*/-->
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Добавление суперпользователя</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form autocomplete="off" class="m-t add-super-user" role="form"
                      data-toggle="validator" id="add-super-user">
                    <div class="modal-body">

                        <div align="center">
                            <input id="usernameInput" type="text" placeholder="Введите логин" style="margin-bottom: 10px" oninput="findUsersByUsername()">

                            <!--<div>
                                <span id="chosenUser" style="color: grey">Нажмите на имя польозователя</span>
                            </div>-->
                            <div th:fragment="foundUsers" id="foundUsers"  >

                                <!--/*@thymesVar id="foundUsers" type="List<com.vallsoft.horoscope.entity.User>"*/-->
                                <!--/*@thymesVar id="currentUser" type="com.vallsoft.horoscope.entity.User"*/-->
                                <p th:if="${foundUsers!=null and !foundUsers.isEmpty()}" id="chosenUser" style="color: grey" th:text="${'Нажмите на имя польозователя'}" ></p>
                                <div class="list-group" style="width: 100%; display: block;max-height: 45%;overflow-y: auto; overflow-x: hidden">
                                    <a class="list-group-item list-group-item-action" th:each="currentUser:${foundUsers}"
                                       th:text="${currentUser.getUsername()}" th:onclick="'javascript:choosePowerUser(\'' + ${currentUser.getUsername()} +'\');'"></a>

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="addPowerUser" type="button"  class="btn btn-primary">Добавить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div th:fragment="advertisementModal" id="advertisementModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--/*@thymesVar id="value" type="java.lang.String"*/-->
           <div th:if="${value!=null}" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Настройки межстраничной рекламы</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form autocomplete="off" class="m-t advertisement" role="form"
                      data-toggle="validator" id="advertisement">
                    <div class="modal-body">

                        <label class="container">Показывать после каждого рауда
                            <input id="radioRound" type="radio" th:checked="${value.equals('ROUND')}?'checked'" name="radio">
                            <span class="checkmark"></span>
                        </label>
                        <label class="container">Показывать после каждой игры
                            <input id="radioGame" type="radio" th:checked="${value.equals('GAME')}?'checked'" name="radio">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <div class="modal-footer">
                        <button id="changeAdvertisement" type="button"  class="btn btn-primary">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div th:fragment="userAgreementModal" id="userAgreementModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <!--/*@thymesVar id="value" type="java.lang.String"*/-->
           <div th:if="${value!=null}" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Пользовательское соглашения</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form autocomplete="off" class="m-t advertisement" role="form"
                      data-toggle="validator" id="userAgreement">
                    <div class="modal-body">

                        <textarea id="userAgreementTA" class="form-control" rows="10" th:text="${value}" placeholder="Введите текст пользовательского соглашения"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button id="changeUserAgreement" type="button"  class="btn btn-primary">Сохранить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/js/profile.js"></script>

</body>
</html>