<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Quiz Game | Users</title>
    <!-- Required meta tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- My own css -->

    <link rel="stylesheet" href="/css/main.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>

<!--/*@thymesVar id="user" type="com.vallsoft.rat_hunter.entity.User"*/-->
    <ul class="nav nav-tabs ">
        <li class="nav-item">
            <a class="nav-link" href="/predictions">Предсказания</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/prediction_types">Типы предсказаний</a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" href="/users">Модераторы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/profile">Профиль</a>
        </li>
    </ul>
    <div style="display:flex;flex-direction: row;flex-wrap:wrap;">
        <div style="width: 60%">
            <H1 align="left">Модераторы</H1>
        </div>
        <div align="right" style="width: 40%">
            <input id="searchedUsername" placeholder="Поиск по логину" style="margin-top: 2.5%" oninput="searchUsersByUsername()">
            <!--<button style="margin-top: 10px" class="btn btn-primary" data-toggle="modal" data-target="#addQAModal">Добавить вопрос</button>-->
        </div>
    </div>
    <div class="project-box" style="width: 100%; display: block;max-height: 80%;overflow-y: auto; overflow-x: hidden">

        <!--/*@thymesVar id="users" type="List<com.vallsoft.horoscope.entity.User>"*/-->
        <!--/*@thymesVar id="currentUser" type="com.vallsoft.horoscope.entity.User"*/-->

        <table class="table table-striped" style="font-size: 14px" th:attr="usersList = ${users}">
            <thead>
            <tr class="center middle">
                <th scope="col" >Логин
                    <a data-toggle="tooltip" data-placement="top" title="Сортировать по возростанию" id="arrow1"
                       onclick="sortUsers(1)" style="cursor:pointer; color: grey"><i class="fa fa-arrow-up"></i></a>
                    <a data-toggle="tooltip" data-placement="top" title="Сортировать по убыванию" id="arrow2"
                       onclick="sortUsers(2)" style="cursor:pointer; color: #57c557"><i class="fa fa-arrow-down"></i></a></th>
                <th scope="col" >Email</th>
                <th scope="col" >Дата создание
                    <a data-toggle="tooltip" data-placement="top" title="Сортировать по возростанию" id="arrow3"
                       onclick="sortUsers(3)" style="cursor:pointer; color: grey"><i class="fa fa-arrow-up"></i></a>
                    <a data-toggle="tooltip" data-placement="top" title="Сортировать по убыванию" id="arrow4"
                       onclick="sortUsers(4)" style="cursor:pointer; color: grey"><i class="fa fa-arrow-down"></i></a></th>
                <th scope="col" >Статус</th>
            </tr>
            </thead>
            <tbody th:fragment="users-table" id="users-table" >
            <tr th:each="currentUser: ${users}">
                <td th:text="${currentUser.getUsername()}"></td>
                <td th:text="${currentUser.getEmail()}"></td>
                <td th:text="${currentUser.getCreationdate()}"></td>
                <td th:text="${currentUser.isEnabled()}?'Активирован':'Заблокирован'"></td>

                <td th:if="${user.isAdmin() or user.isPowerUser()}">
                    <a href="#" th:onclick="'javascript:viewUser(\'' + ${currentUser.getId()} +'\');'"><i class="fa fa-pencil"></i></a>
                    <a href="#" style="color: red" th:onclick="'javascript:deleteUser(\'' + ${currentUser.getId()} +'\');'"><i id="id-remove" class="fa fa-remove"></i></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:fragment="updUserModal" id="updUserModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <!--/*@thymesVar id="foundUser" type="com.vallsoft.horoscope.entity.User"*/-->
        <!--/*@thymesVar id="professions" type="List<com.vallsoft.quiz_game.entity.Profession"*/-->
        <div th:if="${foundUser!=null}" class="modal-dialog" role="document">

            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Редактировать пользователя</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <form autocomplete="off" class="m-t upd-user" role="form"
                      data-toggle="validator" id="upd-user" th:attr="userId =${foundUser!=null}?${foundUser.getId()}:0">
                    <div class="modal-body">
                        <input type="text" class="form-control" id="usernameUPD" placeholder="Логин"
                               th:value="${foundUser!=null}?${foundUser.getUsername()}:''" style="margin-bottom: 5%">

                        <input type="email" class="form-control" id="emailUPD" placeholder="Email"
                               th:value="${foundUser!=null}?${foundUser.getEmail()}:''" style="margin-bottom: 5%">

                        <div align="center" class="form-group">
                            <input type="checkbox" class="form-input" id="statusUPD" style="width: 20px; height: 20px" th:checked="${foundUser!=null && foundUser.isEnabled()}?true:false">
                            <!--Активное-->
                            <label class="form-check-label" for="statusUPD" style="font-size: 26px; font-weight: normal"> Активен</label>
                            <h6 style="color: grey">(Только активные пользователи могуть входить в игру)</h6>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button id="updUser" type="button"  class="btn btn-primary">Редактировать</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="/js/users.js"></script>
</body>
</html>